@use "../abstracts/mixin" as mixin;
.wrapper {
display: grid;
grid-template-areas: "header header"
"main main"
"footer footer";
@include mixin.small-screen {
  grid-template-areas: "header"
  "main"
  "footer";
}
}

.container {
  inline-size: 90%;
  max-inline-size: 80rem;
  margin-inline: auto;
}