@use "../abstracts/variables" as var;
@use "../abstracts/mixin" as mixin;

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
}

.services {
  background-color: var.$clr-white;
  margin-block-end: var.$block-space;
  display: grid;
  grid-template-columns: 1fr;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img-desktop {
      display: none;

    }


    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-block: var.$gutter-space;

      &--title {
        font-size: 2em;
        line-height: 1.1;
      }

      &--link {
        text-transform: uppercase;
        font-family: var.$heading-font-fraunces;
        color: inherit;
        position: relative;
        margin-block: var.$gutter-space;
        z-index: 1;


        &-transform::after,
        &-standout::after {
          content: '';
          width: 8em;
          height: 0.45em;
          position: absolute;
          left: -0.5em;
          bottom: 0.2em;
          z-index: -1;
          border-radius: 100vw;
        }

        &-transform::after {
          background-color: transparentize($color: var.$clr-yellow, $amount: 0.7);
        }

        &-standout::after {
          background-color: transparentize($color: var.$clr-softred, $amount: 0.7);
        }

        &-transform {
          &:hover::after {
            background-color: var.$clr-yellow;
          }
        }

        &-standout {
          &:hover::after {
            background-color: var.$clr-softred;
          }
        }

      }

    }
  }
}

.services-item__graphic-design,
.services-item__photography {
  position: relative;
}

.services-item__text--graphic-design,
.sercives-item__text--photography {
  position: absolute;
  bottom: var.$block-space;
}


.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var.$gutter-space;
  text-align: center;
  color: var.$clr-verydarkgrayish-blue;

  &-samples {
    grid-area: testimonial;
  }

  &-samples__sample+&-samples__sample {
    margin-block-start: calc(var.$gutter-space*2);

  }


  & img {
    inline-size: 5rem;
    border-radius: 100vw;
    margin-inline: auto;
    margin-block-end: var.$block-space;
  }

  &-title,
  &-subtitle {
    color: transparentize($color: var.$clr-verydarkdesaturated-blue, $amount: 0.6);
  }

  &-title {
    font-size: 1.5em;
    text-transform: uppercase;
    grid-area: title;
    margin-block-end: 1.035rem;

  }

  &-subtitle {
    text-transform: capitalize;
    font-size: 1rem;
  }

  & .name {
    font-size: 1.25rem;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}