@use  "../abstracts/variables" as var;
@use "../abstracts/mixin" as mixin;
.main {
grid-area: main;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var.$clr-white;
  margin-block-end: var.$block-space;

  &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
  
      &__img-desktop {
        display: none;
      }
      &__text {
  padding: var.$gutter-space;
  text-align: center;

  &--title {
    font-size: 2em;
    line-height: 1.1;
  }
  &--link {
text-transform: uppercase;
font-family: var.$heading-font-fraunces;
color: inherit;
  }

      }
  }
}
.sercives-item__graphic-design, .sercives-item__photography {
position: relative;
}
.services-item__text--graphic-design, .sercives-item__text--photography {
  position: absolute;
  bottom: 2em;
}


.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var.$block-space;
  text-align: center;
  color: var.$clr-verydarkgrayish-blue;
  &-samples__sample + &-samples__sample {
  margin-block-start: calc(var.$gutter-space*2);
}
  & img {
    inline-size: 5rem;
    border-radius: 100vw;
    margin-inline: auto;
  } 

  &-title, &-subtitle {
color: transparentize($color: var.$clr-verydarkdesaturated-blue, $amount: 0.6);
  }
  &-title {
    font-size: 1.5em;
    text-transform: uppercase;
  }
  &-subtitle {
  margin: 0;
  text-transform: capitalize;
  font-size: 1rem;
}

& .name {
  font-size: 1.25rem;
  margin: 0;
}
}
