html {
  box-sizing: border-box;
  font-size: clamp(112.5%, 0.75rem + 1.5vw, 1.5em ); /* 18px  */
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  /* color */
  /* ### Primary */

  --clr-softred: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-darkdesaturated__cyan: hsl(167, 40%, 24%); /* (graphic design text) */
  --clr-darkblue: hsl(198, 62%, 26%); /* (photography text) */
  --clr-darkmoderate__cyan: hsl(168, 34%, 41%); /* (footer) */
  --clr-skyblue: hsl(197, 71%, 73%);

  /* ### Neutral */

  --clr-verydarkdesaturated-blue: hsl(212, 27%, 19%);
  --clr-verydarkgrayish-blue: hsl(213, 9%, 39%);
  --clr-darkgrayish-blue: hsl(232, 10%, 55%);
  --clr-grayish-blue: hsl(210, 4%, 67%);
  --clr-white: hsl(0, 0%, 100%);

  /* font */
  --body-font: "Barlow", sans-serif;
  --heading-font: "Fraunces", serif;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-verydarkdesaturated-blue);
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.75;
  margin: 0;
  padding: 0;
}

p {
  margin-block-end: 1em;
  max-inline-size: 66ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-block-end: 1.035rem;
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-block-start: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.125rem;
}

small,
.small-text {
  font-size: 0.8rem;
}

img {
  display: block;
  block-size: auto;
  max-inline-size: 100%;
  object-fit: cover;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 1px solid inherit;
  outline-style: dotted;
}

.container {
  inline-size: 80%;
  max-inline-size: 80rem;
  margin-inline: auto;
}

.header {
  background-color: hsl(197, 71%, 73%);
  background-image: url(/images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
}

.brand-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navtoggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  transition: 150ms cubic-bezier(0.5 0, 0.5, 1);
}

.hambuger {
  display: block;
  position: relative;
}

.hambuger,
.hambuger::before,
.hambuger::after {
  background-color: var(--clr-white);
  inline-size: 1.5rem;
  block-size: 3px;
  border-radius: 0.125em;
}

.hambuger::before,
.hambuger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hambuger::before {
  top: 6px;
}

.hambuger::after {
  bottom: 6px;
}

.nav {
  display: none;
  background-color: var(--clr-white);
  color: var(--clr-darkgrayish-blue);
  margin-block-start: 2em;
  transform: translateX(100vw);
  /* transform: translateX(0); */
  text-align: center;
  position: relative;
}
.nav::before {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid var(--clr-white);
  border-bottom: 25px solid transparent;
  position: absolute;
  right: 0;
  top: -1em;
  z-index: 1000;
}
.navlist {
  padding-block: 2em;
}
.navlist__item + .navlist__item {
  padding-block-start: 1em;
}

.navlist__link {
  text-transform: capitalize;
  color: var(--clr-verydarkgrayish-blue);
  cursor: pointer;
  transition: 150ms cubic-bezier(0.5 0, 0.5, 0.1);
  text-decoration: none;
  padding: 0.25em 0.75em;
}
.call-btn {
  background-color: var(--clr-yellow);
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-weight: 400;
  padding: 0.5em 1em;
  border-radius: 2rem;
  /* outline: none; */
  cursor: pointer;
}
.call-btn:hover {
  background-color: var(--clr-white);
  color: inherit;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.navlist__link:hover {
  opacity: 0.65;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 4em;
  color: var(--clr-white);
}

.hero__title {
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  margin-block-end: 4em;
}

.hero__img {
  position: relative;
  bottom: 8em;
}

.about {
  background-color: hsl(7, 100%, 99%);
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-text__title {
  font-size: 2rem;
}

.about-text__link {
  color: inherit;
  text-transform: uppercase;
  font-family: var(--heading-font);
}

.about-text__link::after {
  content: "";
  inline-size: 100%;
  block-size: 2em;
  background-color: var(--clr-yellow);
  position: relative;
  z-index: 1000;
}
.about-text-section-text {
  padding: 2em;
  max-inline-size: 45ch;
}

.service {
  position: relative;
}

.service-text {
  position: absolute;
  bottom: 0;
  padding: 2em;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  text-align: center;
  
}
.testimonial-samples__sample + .testimonial-samples__sample {
  margin-block-start: 4em;
}

.testimonial img {
  display: block;
  block-size: auto;
  inline-size: 5rem;
  max-inline-size: 100%;
  margin-inline: auto;
  border-radius: 20em;
  object-fit: cover;
}

.testimonial-title,
.testimonial-subtitle {
  color: var(--clr-grayish-blue);
  margin-block: 2em;
}
.testimonial-title {
  font-size: 1.5em;
  text-transform: uppercase;
}
.testimonial-subtitle,
.name {
  margin: 0;
}

.name {
  font-size: 1.25rem;
}
.testimonial-subtitle {
  text-transform: capitalize;
  font-size: 1rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: 
   " header header header header"
  " main main main main "
   "footer footer footer footer";
  }
  
  .header {
    grid-area: header;
  }
  
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }

  .about-text {
    flex-direction: row;
    padding: 0;
  }
  .about-text:first-child {
    flex-direction: row-reverse;
  }
  .about-text {
    flex-direction: row;
  }

  .about-text >* {
   flex-basis: 100%;
  }

  .testimonial> *+* {
    display: flex;
  }
  .testimonial-samples__sample + .testimonial-samples__sample {
    margin-block-start: 0;
  }
  
}
